<div *ngIf="loading" class="preloader-overlay">
  <div class="preloader-content">
    <div class="preloader-logo">
      <img src="/logo_tanty.jpg" alt="TANTY Logo" class="logo-image" />
    </div>
    <div class="preloader-spinner">
      <div class="spinner-ring"></div>
      <div class="spinner-ring"></div>
      <div class="spinner-ring"></div>
    </div>
    <div class="preloader-slogan">
      <p class="slogan-text">Grâce à vous nous sommes N°1, Merci</p>
    </div>
    <div class="preloader-text">
      <p>Chargement...</p>
    </div>
  </div>
</div>